html,body,.container,.page-wrapper{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* project id 660132 */
  src: url('//at.alicdn.com/t/font_660132_obrkwpsd7f4j9k9.eot');
  src: url('//at.alicdn.com/t/font_660132_obrkwpsd7f4j9k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_660132_obrkwpsd7f4j9k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_660132_obrkwpsd7f4j9k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_660132_obrkwpsd7f4j9k9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  margin-right: 5px;
}
.icon-size1{
  font-size: 18px;
}

.icon-size2{
  font-size: 24px;
}

.smooth-scroll{
  -webkit-overflow-scrolling: touch;
}

.better-scroll{

}

ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}

.h1 {
  font-size: 20px;
  font-weight: 500;
}

.h3 {
  font-size: 20px;
}

.h4{
  font-size: 16px;
}

.text-left{
  text-align: left;
}
